.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.pytest_cache/

experiments/mlruns/
experiments/optuna/

data/processed/
!data/processed/
!data/processed/weather_aggregated.parquet
data/validated/

models/*/staging/*
!models/*/staging/.gitkeep

# KEEP ALL PRODUCTION MODELS
!models/*/production/**

logs/farmcast_ml.log
